div.row
 div.large-12.columns
  h2#about-us About us
div.row
 div.large-6.columns
  h3 Robert Kamerbeek
   p(translate) Ik ben geboren in Amsterdam en woon nu in Zandvoort. Zo'n 17 jaar geleden ben ik begonnen met kitesurfen. Daarnaast heb ik ook allerlei andere watersporten gedaan zoals, windsurfen, zeilen, wave-skiën en golf surfen.
   p(translate) Mijn sport was altijd doel tot de bestemming van mijn reis en zó hebben wij over de hele wereld gezworven van Zuid-Afrika tot Brazilië, Costa Rica, Mexico, Amerika, Hawaï, Bali en Spanje maar de meeste trips zijn wel naar Australië geweest, daar kom ik al zo'n 18 jaar en ondertussen weet ik alle top spots te vinden in het Westen.
   p(translate) Naast de fantastische omstandigheden voor het kitesurfen en andere watersporten alsook het weer en veiligheid zijn Australiërs ontzettend gastvrij en oprecht. Dat is ook wel iets dat ons erg aanspreekt. Na jarenlange ervaring in de horeca (Ik was 20 jaar eigenaar van strandpaviljoen <em>FarOut</em> te Zandvoort)  ben ik ervan overtuigd dat mensen entertainen en verzorgen mij op het lijf geschreven is. Met deze safari wil ik dát combineren met jullie naar de mooiste kite spots van West-Australië te nemen.
 div.large-6.columns
  img.full(src="/static/img/robert-mariam.jpg", title="", border="0")
  a#booking.button.radius(href="#booking#top") Book us now!
 div.large-12.columns
  h3 Miriam Veldman
  p(translate) Ik ben geboren in Zuid-Afrika, met mijn 15de emigreerde ik naar Nederland. Ik ben zangeres en mijn gitaar reist mee naar alle bestemmingen. De mooiste reizen die ik heb gemaakt zijn wel díe naar Australië geweest, vooral de trips naar het Noorden en Zuiden. Ik houd ervan om onderweg zijn, je ontmoet veel mensen uit allerlei culturen en landen, ziet zoveel verschillende stranden met een enorm scala aan mogelijkheden en de volgende dag is altijd een verrassing. Met enkele jaren kite ervaring en liefde voor water, voel ik mij thuis dáár waar er zee en wind is.

   p(translate) Door het vele reizen over de hele wereld, mijn ervaring in de entertainment industrie, jarenlange horeca ervaring bij Far Out, het verhuren van zomer appartementen en mijn vrolijke persoonlijkheid ga ík er alles aan doen om de perfecte gastvrouw voor jullie te zijn tijdens dit avontuur. Daarnaast zal ik mij met name bezig houden met de boekingen, planning van de trips en organisatie.

