div.row
 div.large-6.columns
  h3 Prijsindicatie en voorwaarden
  p 2 weken safari € 1950,00
  p Aanbetaling 500,00 vóór eind maart 2015, restbetaling dient uiterlijk eind september 2015 bijgeschreven te zijn.
  p Inbegrepen in de Prijs:
  ul
   li 4WD, daktenten, gewone tenten, keukentrailer,
   li trailer voor boards, kites, SUP boards, bootje, vishengels etc.
   li Ontbijt, lunch, avondeten en snacks
   li Koffie, thee, water, limonade en 2 X Nederlands gedestilleerde dranken
   li Overnachtingen op Campings en fee natuurparken
   li Transfer vliegveld Perth
 div.large-6.columns
  img.full(src="/static/img/safari-06.jpg", title="", border="0")
div.row
 div.large-6.columns
  h3 Reis informatie
  p Beste verbinding: 
  blockquote 
   p.
    Emirates<br>
    6 vlieguren naar Dubai met A380<br>
    10 uur naar Perth met 777
  p Vliegtickets variëren in prijs van € 900,00 tot € 1400,00
  h3 Verzekering
  p.
   Het is belangrijk een goede reisverzekering af te sluiten dat kite- kite geralteerde activiteiten dekt.
   Bijv. Allianz Global Assistance.
 div.large-6.columns
  img.full(src="/static/img/safari-05.jpg", title="", border="0")
div.row
 div.large-12.columns
  h3 Annulering
  p.
   In het geval dat de trip geannuleerd wordt door te weinig inschrijvingen word de aanbetaling volledig teruggestort.
   Als je de trip wilt annuleren 30 dagen voor vertrek is de aanbetaling niet uitkeerbaar. Wij hanteren
   hiervoor dezelfde regels als in de ANVR. Wat doen wij bij annulering door cyclonen e.d.?
  p.
   Als zich serieuze weer waarschuwingen voordoen voor de noordelijke kustlijn/Pilbarra zullen wij de
   route wijzigen om deze te vermijden.
   Zware depressies in het noorden en westen van Australië kunnen resulteren in fantastisch golfsurf
   condities aan de "central coast". De tour kan ook omgezet worden naar het Zuid-Westen.
div.row
 div.large-12.columns
  h3 Kleding e.d.
  p Belangrijk is niet al te veel mee te nemen.
  ul
   li Training broek
   li Spijkerbroek
   li Short
   li 2 paar sokken
   li T-shirts en een sweater voor in de avond uurtjes..het kan kan soms afkoelen
   li Slippers en een paar goede schoenen
   li Petje
   li Shorti voor in de middag (Als je te lang vaart schuurt je buik open door zout en zand)
   li Goede zonnebril (Ik zou een waterzonnebril aanraden want de zon in Australië kan verblindend zijn)
   li Goede sunblock bijv. Island tribe 40+
   li 2 á 3 kites en een surfboard. Voor díegene die willen afwisselen zijn er genoeg twin-tips aanwezig alsook reserve kites, SUP- en surfboards.
   li Snorkel- en hengeluitrusting
