div.row
 div.large-12.columns
  img.full(ng-src="/static/img/robertskitesafari-{{lang}}.jpg", title="graag nemen we je mee onvergetelijke kite ervaring", border="0")
  p(translate).
   Robert's kitesafari gaat van start in Perth, West-Australië, <em>Down Under</em>. Na een dag ontspanning in de prachtige stad Perth (waar we op een camping overnachten) vertrekken wij <em>up North</em>.
  p(translate).
   Wij rijden met onze goed uitgeruste Toyota landcruisers langs de westkust met meer dan 50 kite spots over de 5000 km lange kustlijn, waarvan Roberts kitesafari 20 van deze mooie spots aandoet.
div.row
 div.large-6.columns
  img.full(src="/static/img/safari-10.jpg", title="", border="0")
 div.large-6.columns
  img.full(src="/static/img/safari-11.jpg", title="", border="0")
 div.large-12.columns
  p(translate)
   | Met ons team en locale kennis nemen wij je twee weken mee naar locaties met voor ieder wat wils: <em>over head</em>
   | golven achter het rif, kleine golven, vlak water, hoge golven en <em>reef breaks</em>.
   | De perfecte kustlijn om een downwinder te doen en 4WD tracks te rijden.
  p(translate)
   | De wind die uit het Zuid-Westen waait is een sterk thermische zeewind genaamd <em>The Fremantle doctor</em> die 6
   | maanden lang elke dag om klokslag 12:00h begint te waaien. Deze wind biedt de perfecte omstandigheden
   | om te <em>wave rijden</em> en is tussen de 15 en 40 knopen. Wij adviseren om minimaal drie vliegers mee te nemen:
   | 6, 7, 8 en 9 meter zijn de meest gevaren maten voor mannen rond de 80kg.
div.row
 div.large-6.columns
  img.full(src="/static/img/safari-03.jpg", title="", border="0")
 div.large-6.columns
  img.full(src="/static/img/safari-04.jpg", title="", border="0")
 div.large-12.columns
  p(translate)
   | In deze ongelooflijke mooie omgeving waar de natuur nog ongerept is, is het zeewater kraakhelder met een
   | temperatuur van minimaal 22 graden. Australië is het ideale land om te kamperen op het strand, in de <em>bush</em> of op een camping.
  p(translate)
   | Wij rijden met 3 Toyota landcruisers waarvan 2 met een trailer (een keukentrailer de ander voor kiteboards, SUP- en
   |surfuitrusting) en één jeep met een kleine boot om eventueel gestrande kiters en SUP-ers op te halen.
  p(translate)
   | Het doel is om in de ochtend na een SUP of surf sessie en ontbijt, te gaan rijden naar de volgende kite stek.
 div.large-6.columns
  img.full(src="/static/img/safari-05.jpg", title="", border="0")
 div.large-6.columns
  img.full(src="/static/img/safari-06.jpg", title="", border="0")
div.row
 div.large-12.columns
   p(translate)
    | Bij aankomst bieden wij een lekkere lunch aan, daarna kan er gevaren worden. Ondertussen slaan wij het
    | kamp op. Dit kan zijn op een camping, in de <em>bush</em> of op het strand. s' Avonds kun je genieten van een heerlijke
    | BBQ of andere mooie gerechten die op dat moment door onze privé kok worden bedacht, óf een <em>catch of the day</em>
    | natuurlijk want het kan zomaar gebeuren dat wij een lekker visje vangen, daar staat Australië tenslotte bekend om.
   p(translate)
    | Met een drankje in de hand kun je lekker nagenieten van de dag bij een knapperend kampvuur 
    | hier en daar opgeluisterd door gitaarmuziek.
 div.large-6.columns
  img.full(src="/static/img/safari-07.jpg", title="", border="0")
 div.large-6.columns
  img.full(src="/static/img/safari-08.jpg", title="", border="0")
 div.large-12.columns
  p(translate)
   | De Toyota's zijn voorzien van goede matrassen, bedlinnen, kussens en (dak)tenten.
   | Onze keukentrailer is dusdanig ingericht dat je er een lekkere maaltijd kunt voorbereiden.
  p(translate)
   | Het voordeel van West-Australië is dat ondanks dat je in de <em>Outback</em> zit je toch af en toe ook de bewoonde
   | wereld passeert waardoor je (mócht het nodig zijn) binnen 1,5 uur bij een ziekenhuis of dokter kunt zijn.
  p(translate)
   | West-Australië is ook ideaal om te duiken, snorkelen, vissen, wandelen en nog veel meer.
 div.large-6.columns
  img.full(src="/static/img/safari-01.jpg", title="", border="0")
 div.large-6.columns
  img.full(src="/static/img/safari-09.jpg", title="", border="0")
