div.row
 div.large-6.columns
  h3(translate) Prijsindicatie en voorwaarden
  p(translate) 2 weken kitesafari € 1950,00
  p(translate) Aanbetaling 950,00 vóór eind augustus 2015. De restbetaling van € 1000,- dient uiterlijk eind november 2015 bijgeschreven te zijn.
  p(translate) Inbegrepen in de Prijs:
  ul
   li(translate) Toyota landcruisers, daktenten, gewone tenten, keukentrailer.
   li(translate) Trailer voor boards, kites, SUP boards, bootje, vishengels e.d.
   li(translate) Ontbijt, lunch, avondeten en snacks in between
   li(translate) Koffie, thee, water, limonade en 2 x gedestilleerde dranken
   li(translate) Overnachtingen op campings en toeslag entrée voor natuurparken
   li(translate) Transfer en retour vliegveld Perth
 div.large-6.columns
  img.full(src="/static/img/safari-06.jpg", title="", border="0")
div.row
 div.large-6.columns
  h3(translate) Tour informatie
  p(translate) Datum van vertrek medio november 2015 t/m eind februari 2016.

  table
   tr
    td Safari
    td 15-12-15
    td 28-12-15
   tr
    td Safari
    td 10-01-16
    td 24-01-16
   tr
    td Safari
    td 10-02-16
    td 24-02-16

  i
   p(translate) (geplande data is variabel en kan afwijken)

  p(translate) Inschrijvingen per tour minimaal 8 en maximaal 10 personen.
 div.large-6.columns
  h3(translate) Reis informatie
  p(translate) Beste verbinding (zelf te regelen): 
  dl 
   dt Emirates
   dd(translate) ca. 6 vlieguren naar Dubai met A380
   dd(translate) ca. 10 uur naar Perth met Airbus 380
  p(translate) Vliegtickets variëren in prijs van € 900,00 tot € 1400,00
  p.strong(translate) Vergeet niet tijdig vergeten Visa te regelen.

div.row
 div.large-6.columns
  h3(translate) Verzekering
  p(translate)
   | Het is belangrijk een goede reisverzekering af te sluiten dat de kite en de kite gerelateerde activiteiten dekt. 
   | Dan kan bijvoorbeeld bij #[a(href='https://www.allianz-assistance.nl/reisverzekering/adventure-en-survival-verzekering') Allianz Global Assistance] 
   | of via de #[a(href='http://www.funsportpolis.nl/index.php/faq') Nederlandse kitevereningingn (NKV)]
  h3 Kite level
  p(translate)
   | Omdat je mee gaat doen met kitevakantie verwachten we dat je genoeg ervaring hebt. 
   | Daarom vinden we het belangrijk dat je de volgende informatie goed gelezen hebt:
  ul
   li #[a(href='/static/docs/Kite-level-agreement.pdf', target="_blank") Kite-level agreement (pdf)<F2>] 
   li #[a(href='/static/docs/Form-and-participation-agreement.pdf', target="_blank") Participation agreement (pdf)]
  p(translate) Deze formulieren moet je getekend opsturen of meenemen.
 div.large-6.columns
  h3(translate) Annulering
  p(translate)
   | In het geval dat de trip geannuleerd wordt door te weinig inschrijvingen word de aanbetaling volledig teruggestort.
   | Als je de trip wilt annuleren 30 dagen voor vertrek is de aanbetaling niet uitkeerbaar. Wij hanteren 
   | hiervoor dezelfde regels als in de #[a(href='http://www.anvr.nl/') ANVR]. 
   | Wat doen wij bij annulering door cyclonen e.d.?
  p(translate)
   | Als zich serieuze weer waarschuwingen voordoen voor de noordelijke kustlijn/Pilbarra zullen wij de
   | route wijzigen om deze te vermijden.
   | Zware depressies in het noorden en westen van Australië kunnen resulteren in fantastisch golf surf
   | condities aan de <em>central coast</em>. De tour kan ook eventueel omgezet worden naar het Zuid-Westen.

div.row
 div.large-6.columns
  h3(translate) Overige informatie
  ul
   li(translate) #[a(href='http://www.trivago.com/?iPathId=44315&bDispMoreFilter=true&aDateRange%5Barr%5D=2015-06-14&aDateRange%5Bdep%5D=2015-06-15&aCategoryRange=0%2C1%2C2%2C3%2C4%2C5&iRoomType=7&sOrderBy=relevance%20desc&aPartner=&aOverallLiking=1%2C2%2C3%2C4%2C5&iOffset=0&iLimit=25&iIncludeAll=0&bTopDealsOnly=false&iViewType=0&aPriceRange%5Bfrom%5D=0&aPriceRange%5Bto%5D=0&aGeoCode%5Blng%5D=115.857468&aGeoCode%5Blat%5D=-31.953005&of%5Blodging', target='_blanc') Trivago] is een goede site om hotels, appartementen te vinden. 
   li(translate) #[a(href='http://www.seabreeze.com.au/graphs/wa3.asp') Seabreeze] is een zeer interessante site met veel informatie over het weer en de lokatie. 
  h3(translate) Kleding e.d.
  p(translate) Belangrijk is niet al te veel mee te nemen.
  ul
   li(translate) Training broek
   li(translate) Spijkerbroek
   li(translate) Short
   li(translate) Sokken
   li(translate) T-shirts, sweater en een hoody omdat het 's avond soms kan afkoelen
   li(translate) Slippers en een paar goede schoenen
   li(translate) Petje
   li(translate) Lycra
   li(translate) Shorty voor in de middag (Als je te lang vaart schuurt je buik open door zout en zand)
   li(translate) Goede zonnebril (Ik zou een waterzonnebril aanraden want de zon in Australië kan verblindend zijn)
   li(translate) Goede sunblock bijv. Island tribe 40+
   li(translate) 2 á 3 kites en een surfboard 
  p(translate) Voor díegene die willen afwisselen zijn er genoeg twin-tips aanwezig alsook reserve kites, SUP- en surfboards, snorkel- en visuitrusting
 div.large-6.columns
  img.full(src="/static/img/safari-05.jpg", title="", border="0")
  a#booking.button.radius(href="#booking#top") Book us now!
