div.row
 div.large-12.columns
  h3 Australian coastline
  p(translate) Je in- uitzomen op de kitespots waar we komen.
div.row
 div.large-12.columns#map-canvas
  div.google-map(kite-map="", latitude="-30.72380", longitude="115.21477")
div.row
 div.large-12.columns
  img.full(src="/static/img/kangarous.jpg", title="", border="0")
