div.row
 div.large-12.columns
  h3 Australian coastline
  p Kan je vast in- uitzomen op de plekken waar we komen
div.row
 div.large-12.columns#map-canvas
  div.google-map(hello-maps="", latitude="-30.72380", longitude="115.21477")
