div.row
 div.large-12.columns
  h3(translate) Video's to get a first taste
div.row
 div.large-6.columns
  p(translate) Enkele video fragmenten van onze laatste trip. 
  div.flex-video
   iframe(src="https://player.vimeo.com/video/128351561", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
 div.large-6.columns
  p(translate) Enkele foto's en video's in een montage.
  div.flex-video
   iframe(src="https://player.vimeo.com/video/128354921", frameborder="0", allowfullscreen)
div.row
 div.large-12.columns.text-center
  a#booking.button.radius(href="#booking#top") Book us now!
