
<div class="row">
  <div class="large-6 columns">
    <h3>Prijsindicatie en voorwaarden</h3>
    <p>2 weken safari € 1950,00</p>
    <p>Aanbetaling 500,00 vóór eind maart 2015, restbetaling dient uiterlijk eind september 2015 bijgeschreven te zijn.</p>
    <p>Inbegrepen in de Prijs:</p>
    <ul>
      <li>4WD, daktenten, gewone tenten, keukentrailer,</li>
      <li>trailer voor boards, kites, SUP boards, bootje, vishengels etc.</li>
      <li>Ontbijt, lunch, avondeten en snacks</li>
      <li>Koffie, thee, water, limonade en 2 X Nederlands gedestilleerde dranken</li>
      <li>Overnachtingen op Campings en fee natuurparken</li>
      <li>Transfer vliegveld Perth</li>
    </ul>
  </div>
  <div class="large-6 columns"><img src="/static/img/safari-06.png" title="" border="0" class="full"/></div>
</div>
<div class="row">
  <div class="large-6 columns">
    <h3>Reis informatie</h3>
    <p>Beste verbinding: </p>
    <blockquote>
      <p>
        Emirates<br>
        6 vlieguren naar Dubai met A380<br>
        10 uur naar Perth met 777
      </p>
    </blockquote>
    <p>Vliegtickets variëren in prijs van € 900,00 tot € 1400,00</p>
    <h3>Verzekering</h3>
    <p>
      Het is belangrijk een goede reisverzekering af te sluiten dat kite- kite geralteerde activiteiten dekt.
      Bijv. Allianz Global Assistance.
    </p>
  </div>
  <div class="large-6 columns"><img src="/static/img/safari-05.png" title="" border="0" class="full"/></div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h3>Annulering</h3>
    <p>
      In het geval dat de trip geannuleerd wordt door te weinig inschrijvingen word de aanbetaling volledig teruggestort.
      Als je de trip wilt annuleren 30 dagen voor vertrek is de aanbetaling niet uitkeerbaar. Wij hanteren
      hiervoor dezelfde regels als in de ANVR. Wat doen wij bij annulering door cyclonen e.d.?
    </p>
    <p>
      Als zich serieuze weer waarschuwingen voordoen voor de noordelijke kustlijn/Pilbarra zullen wij de
      route wijzigen om deze te vermijden.
      Zware depressies in het noorden en westen van Australië kunnen resulteren in fantastisch golfsurf
      condities aan de "central coast". De tour kan ook omgezet worden naar het Zuid-Westen.
    </p>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h3>Kleding e.d.</h3>
    <p>Belangrijk is niet al te veel mee te nemen.</p>
    <ul>
      <li>Training broek</li>
      <li>Spijkerbroek</li>
      <li>Short</li>
      <li>2 paar sokken</li>
      <li>T-shirts en een sweater voor in de avond uurtjes..het kan kan soms afkoelen</li>
      <li>Slippers en een paar goede schoenen</li>
      <li>Petje</li>
      <li>Shorti voor in de middag (Als je te lang vaart schuurt je buik open door zout en zand)</li>
      <li>Goede zonnebril (Ik zou een waterzonnebril aanraden want de zon in Australië kan verblindend zijn)</li>
      <li>Goede sunblock bijv. Island tribe 40+</li>
      <li>2 á 3 kites en een surfboard. Voor díegene die willen afwisselen zijn er genoeg twin-tips aanwezig alsook reserve kites, SUP- en surfboards.</li>
      <li>Snorkel- en hengeluitrusting</li>
    </ul>
  </div>
</div>