
<div class="row">
  <div class="large-12 columns">
    <h3 translate="translate">Video's to get some taste</h3>
  </div>
</div>
<div class="row">
  <div class="large-6 columns">
    <p translate="translate">Enkele video fragmenten van onze laatste trip. </p>
    <div class="flex-video">
      <iframe src="https://player.vimeo.com/video/128351561" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe>
    </div>
  </div>
  <div class="large-6 columns">
    <p translate="translate">Enkele foto's en video's in een montage.</p>
    <div class="flex-video">
      <iframe src="https://player.vimeo.com/video/128354921" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    </div>
  </div>
</div>