
<div class="row">
  <div class="large-12 columns">
    <h3>Video's to get some taste</h3>
  </div>
</div>
<div class="row">
  <div class="large-6 columns">
    <p>Some footage from a recent trip. This video features Ozone Reo kites and some amazing waves! Big thanks to Ozone Kitesports and AKS - Australian Kiteboarding and SUP.</p>
    <div class="flex-video">
      <iframe width="420" height="315" src="https://www.youtube.com/embed/Wtn7FRxO-Kc" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    </div>
  </div>
  <div class="large-6 columns">
    <p>Follow a group of windsurfers as they travel around Western Australia looking for the best wind and waves at all the best locations. This film is what a typical Australian summer is like.</p>
    <div class="flex-video">
      <iframe width="420" height="315" src="https://www.youtube.com/embed/Ck3O6s8uqpo" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    </div>
  </div>
</div>