$main-color1: #3D2708; // Default Dark bruin  - top-bar
$main-color2: #79B842; // Default Green       - row-caption, footer
$topbar-sticky-class: ".sticky" default;
$footer-logo: #ffbf00; // Yellow background

html, body, .off-canvas-wrap, .inner-wrap, .main-section
{
  background-color: #eee;
  background: url(/static/img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper{min-height:100%}
.main{overflow:auto;padding-bottom:440px}
.footer{margin-top:-440px}

.top-bar .title-area i {color: $main-color2;}
.top-bar-section { 
	ul .divider {
		border-left: solid 1px darken($main-color1, 5%);
		border-top: solid 1px lighten($main-color1, 5%);
	}
	li.active:not(.has-form) a:not(.button):hover {
		background-color: darken($main-color1, 10%);
	}
	li.active:not(.has-form) a:not(.button) {
		background: $main-color1;
	}
 }
.top-bar.expanded .title-area, .contain-to-grid, .top-bar {
	background: $main-color1;
}

.row {
  background-color: #fff;
  a {color: #913206;text-decoration: underline;}
}

em:before { content:"\00b4"; }
em:after { content:"\00b4"; }

img.full {
  width: 100%;
  margin-bottom: 1em;
}

.google-map {width:100%; height:100%;}
.map-labels {
     white-space: nowrap;
}
#map-canvas { height:30rem; img{max-width: inherit; }}


.footer {
  // Height must be 45px (nav.tab-bar, .main-section) higher
  padding-top: 10px;
  color: #F2F5F6;
  background-color: $main-color1;
  .footer-social {
    font-size: 3em;
    margin: 0.2em;
  }
  a {
    text-decoration: none;
    color: #F3E7E6;
  }
  ul li {
    display: block;
  }
  h3 {
  color: #fff;
  border-bottom: 1px solid lighten($main-color1, 10%);
  }
  .row {
    background-color: $main-color1;
  }
}

.footer-logo {
  .row {
    background-color: $footer-logo;
  }
  padding: 1em 0 1em 0;
  background-color: $footer-logo;
  color: #777;
}

.iGroupware-footer {
  padding: 1em 0 1em 0;
  background-color: #333;
  color: #777;
  font-size: 13px;
  a {
    color: #888;
  }
  .row {
    background-color: #333;
  }
}

.lang-dropdown, li.title.back {
  background-color: #C77E0D !important;
}
