<!DOCTYPE html>
<html lang="" ng-app="<!-- @echo pkgname -->" class="no-js">
<head>
  <meta charset="utf-8">
  <title>Roberts kitesafari</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Place favicon.ico and apple-touch-icon(s) -->


  <!-- @if NODE_ENV == 'DEVELOPMENT' -->

  <!-- CSS  & JS development <!-- @echo pkgname --> -->
  <script src="/vendor/js/modernizr.js"></script>
  <script src="/vendor/js/angular.js"></script>
  <script src="/vendor/js/angular-route.js"></script>
  <script src="/vendor/js/jquery.js"></script>
  <script src="/vendor/js/foundation.js"></script>
  <script src="/js/<!-- @echo pkgname -->.js"></script>

  <link rel="stylesheet" href="/vendor/css/foundation-icons.css"/>
  <link rel="stylesheet" href="/vendor/css/normalize.css"/>
  <link rel="stylesheet" href="/vendor/css/foundation.min.css"/>
  <link rel="stylesheet" href="/css/<!-- @echo pkgname -->.css"/>

  <!-- @endif -->

  <!-- @if NODE_ENV == 'PRODUCTION' -->

  <!-- CSS cdn's -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"/>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.min.css"/>
  <!-- CSS  production <!-- @echo pkgname --> -->
  <link rel="stylesheet" href="/css/<!-- @echo pkgname -->.min.css"/>

  <!-- JS cdn's -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/js/foundation.min.js"></script>
  <!-- JS production <!-- @echo pkgname --> -->
  <script src="/js/<!-- @echo pkgname -->.min.js"></script>

  <!-- @endif -->


</head>
<body ng-controller="mainCtrl">
<div class="wrapper"> 
  <div class="main">
    <div class="fixed">

      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">Roberts Kitesafari</a></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="divider"></li>
            <li class="active"><a href="#home?scrollTo=over-ons">Over ons</a></li>
            <li class="divider"></li>
            <li class="active"><a href="#home?scrollTo=contact">Contact</a></li>
            <li class="divider"></li>
            <li class="active"><a href="#video">Video's</a></li>
            <li class="divider"></li>
            <li class="active"><a href="#details">Details</a></li>
            <li class="divider"></li>
          </ul>
        </section>
      </nav>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <div ng-view></div>
        {{scrollTo}}
      </div>
    </div>
  </div>
</div>
<div class="footer noprint">
    <div class="row">
    <div class="medium-4 large-4 columns">
      <h3 id="contact">Contact</h3>
      <strong>Robert Kamerbeek</strong>
      <ul class="footer-links">
        <li class="fi-mail color-blue"> <a href="mailto:doecha@hotmail.com">doecha@hotmail.com</a></li>
        <li class="fi-megaphone color-blue"> <a href="tel:+310652090601">+31 (0) 652 090 601</a></li>
      </ul>
      <strong>Miriam Veldman</strong>
      <ul class="footer-links">
        <li class="fi-mail color-blue"> <a href="mailto:miriamverano@gmail.com">miriamverano@gmail.com</a></li>
        <li class="fi-telephone color-blue"> <a href="tel:+310629014866">+31 (0) 629 014 866</a></li>
      </ul>
    </div>
    <div class="medium-4 large-4 columns">
    <h3>Social media</h3>
      <p><strong>Roberts Kitesafari</p>
      <a href="https://twitter.com/"><i class="fi-social-twitter footer-social" title="Roberts safari op Twitter"></i></a>
      <a href="https://www.facebook.com/robertenmiriam.kamerbeek"><i class="fi-social-facebook footer-social" title="Robert en Miriam op Facebook"></i></a>
      </p><p>
    </p></div>
    <div class="medium-4 large-4 columns">
      <h3>Overig</h3>
      <ul class="footer-links">
         <li class="fi-link color-blue"> <a href="/#over-ons">Over ons</a></li>
         <li class="fi-link color-blue"> <a href="/#disclaimer" rel="no-follow">Disclaimer</a></li>
         <li class="fi-link color-blue"> <a href="/#privacy" rel="no-follow">Privacy</a></li>
         <li class="fi-link color-blue"> <a href="/#algemene-voorwaarden" rel="no-follow">Algemene voorwaarden</a></li>
       </ul>
     </div>
  </div>
  <div class="iGroupware-footer text-center">
    <div class="row">
      <div class="large-12 columns">
        Development <a href="http://iGroupware.org">iGroupware</a> | <a href="http://andries.filmer.nl">Andries Filmer</a> 
      </div>
    </div>
</div>


<script>
    $(document).foundation();
</script>

</body>
</html>
